<div id="content" class="col-lg-10 offset-lg-1">
  <header id="header" class="col-lg-12">
    <h1>
      {{ title }}
    </h1>
  </header>

  <nav id="nav" class="col-lg-12">
    <ul>
      <li>
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li>
        <a href="#">Products</a>
      </li>
      <li>
        <a href="#">Create Product</a>
      </li>
    </ul>
  </nav>

  <br />

  <section id="main" class="col-lg-12">
    <!-- Current component -->
    <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-lg-12">
    <p>Angular 4 Course - Daniel Alderete</p>
  </footer>
</div>
